/* Arquivo para VARIÁVEIS CSS e CLASSES DE UTILIDADE */
/* Definição de variáveis */
:root{
    --primary-color: #04122a;
    --secondary-color: #0f2e5d;
    --primary-colorRGB: 4, 18, 42;
    --secondary-colorRGB: 15, 46, 93;
    --emphasis-color: #FFC107;
    --accentuation-color: #FFFFFF;
    --neutral-color: #4A4A4A;
}

/* 
==== DISPLAY NONE MEDIA QUERIES ==== 
.s-nav__input = Inputs radio para o carousel (constante)

== MOBILE (MAX 768px) ==
.c-head__nav = Menu de navegação do header
.c-section__nav = Menu de navegação da section overflow
.c-section__texts = div para textos maiores dentro das sections
.c-section__text = Texto grandes introdutórios
    1 - .s-signIn__intro
    2 - .s-content__intro
    3 - .s-info__intro
.c-footer__media > small = @ das redes sociais

== BIG MOBILE (MAX 1024px) ==
.c-head__nav = Menu de navegação do header
.c-section__nav = Menu de navegação da section overflow
.c-section__text = Texto grandes introdutórios
    1 - .s-signIn__intro

== LAPTOP & DESKTOP (MIN 1024px) ==
.s-card__info__extra = Texto extra de apresentação dos palestrantes
*/


/* === UTILITY CLASSES === */
.u-mb1{
    margin-bottom: 1em;
}

/* Estilização de subtítulos */
.u-subtitle{
    color: var(--emphasis-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.u-fieldset__midline{
    border-top: 1px solid var(--emphasis-color);
    margin-inline: 1em;
}
.u-legend__center{
    margin: auto;
    padding: .5em;
}